/* Desktop Version */

@font-face {
  font-family: "Cyberpunk Font";
  src: url(fonts/Neon\ Zone.otf) format("opentype"),
    url(fonts/Neon\ Zone.ttf) format("truetype");
}

@font-face {
  font-family: "Pixel Art";
  src: url(fonts/Minecraft.ttf) format("truetype");
}

:root {
  --color01: #fc4646;
  --color02: #080705;
  --color03: #77eb9c;
  --color04: #fdf608;
  --color05: #fbfff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img{
-webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #080705;
position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "cyberpunk font", monospace;
  min-height: 60px;
  padding: 10px;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  background-color: var(--color02);
  z-index: 3;
}

nav {
  border-top: #ffffff 2px solid;
  position: absolute;
  visibility: hidden;
  top: 60px;
  right: 0px;
  height: 100%;
  width: 0;
}

nav > a {
  text-decoration: none;
  color: white;
}

nav > span {
  text-align: center;
  font-size: 19px;
}

.menu-mobile {
  visibility: visible;
  background-color: var(--color02);
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 30px;
  gap: 30px;
  font-size: 25px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.menu-mobile > a {
  color: var(--color05);
  text-decoration: none;
}

.menu-mobile > a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.menu-mobile > a:hover::after {
  width: 100%;
}

#menu-burguer {
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#menu-burguer svg {
  width: 35px;
  height: 100%;
  fill: var(--color05);
}

.animation-rotator {
  animation-name: rotating;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.animation-rotatereverse {
  animation-name: rotating-rev;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes rotating-rev {
  0% {
    rotate: 90deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes rotating {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 90deg;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#container-1 {
  height: 100vh;
  background-image: url(images/background-2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}

#container-1 > img {
  top: 60px;
  width: 100%;
  position: sticky;
  height: 40px;
  z-index: 2;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  z-index: 1;

  animation-name: slideUp;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.textbox {
  font-size: 20px;
  font-family: "cyberpunk font", monospace;
  color: white;
  text-shadow: 1px 2px 3px black;

  padding: 10px;
}

.textbox span {
  color: var(--color04);
}

.welcome-text img {
  width: 100%;
  max-width: 90vh;
}

#container-2 {
  height: 100vh;
  background-image: linear-gradient(55deg, var(--color02), var(--color05));
  background-size: cover;
  background-position: center;
}
