/* Mobile First Version */

@font-face {
  font-family: "Cyberpunk Font";
  src: url(fonts/Neon\ Zone.otf) format("opentype"),
    url(fonts/Neon\ Zone.ttf) format("truetype");
}

@font-face {
  font-family: "Cyberpunk";
  src: url(fonts/Cyberpunk.otf) format("opentype"),
    url(fonts/Cyberpunk.ttf) format("truetype");
}

@font-face {
  font-family: "Pixel Art";
  src: url(fonts/Minecraft.ttf) format("truetype");
}

:root {
  --color01: #fc4646;
  --color02: #080705;
  --color03: #07f9fa;
  --color04: #fdf608;
  --color05: #fbfff1;
  --color06: #be504d;
  --color07: #0e0c17;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
  animation-delay: 1s;
}

body {
  background-color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "cyberpunk font", monospace;
  min-height: 60px;
  padding: 10px;
  color: var(--color04);
  position: sticky;
  top: 0px;
  background-color: var(--color02);
  z-index: 3;
}

header::after {
  content: "";
  background-image: url(images/triangle-header.svg);
  position: absolute;
  width: 100%;
  height: 20px;
  top: 65px;
  left: 0px;
}

nav {
  border-top: var(--color03) 2px solid;
  position: absolute;
  visibility: hidden;
  top: 60px;
  height: 100%;
  width: 0;
}

nav > span {
  text-align: center;
  font-size: 19px;
}

.menu-mobile {
  visibility: visible;
  background-color: var(--color02);
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 30px;
  gap: 30px;
  font-size: 25px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-mobile > a {
  color: var(--color04);
  text-decoration: none;
}

.menu-mobile > a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: var(--color03);
  transition: 0.5s;
}

.menu-mobile > a:hover::after {
  width: 100%;
}

#logo {
  animation: slideLeft 1s ease forwards;
  width: 150px;
}

#menu-burguer {
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#menu-burguer svg {
  width: 35px;
  height: 100%;
  fill: var(--color04);
}

#container-1 {
  height: 100vh;
  background-image: url(images/nightcity.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  z-index: 2;
  position: relative;
}

#container-1::before {
  content: "";
  display: block;
  background-image: url(images/yellow-tilt.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20%;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.438));
}

#container-1::after {
  content: "";
  display: block;
  rotate: 180deg;
  background-image: url(images/triangle.svg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.438));
}

.typed2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "cyberpunk font";
  color: white;
  font-size: 10vw;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.541);
}

#welcome-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1;
}

#main-character {
  width: 100%;
  max-width: 80vh;
  animation: slideUp 2.5s ease forwards;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.514));
}

.scroll-line {
  z-index: 1;
  position: absolute;
  color: white;
  font-family: "cyberpunk font";
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.9em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
  right: 10px;
  bottom: 10px;
}

.scroll-line > div {
  background-color: white;
  width: 1px;
  animation: scroll-line-effect 3s linear infinite;
}

#container-2 {
  height: 100vh;
  min-height: 450px;
  border-top: 2px solid rgba(39, 39, 39, 0.973);
  border-bottom: 2px solid rgba(39, 39, 39, 0.973);
  overflow: hidden;
}

#content-judy {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(450px, 100vh);
  background-color: var(--color02);
  grid-template-areas: "judyText Judy";
  align-items: center;
  background-image: url(images/background-5.png);
  background-size: cover;
  position: relative;
}

#judy-textbox {
  grid-area: "judyText";
  background-color: var(--color02);
  color: white;
  padding: 20px;
  position: relative;
  align-self: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#judy-textbox::-webkit-scrollbar {
  display: block;
  width: 5px;
}

#judy-textbox::-webkit-scrollbar-track {
  background-color: #fdf608;
}

#judy-textbox::-webkit-scrollbar-thumb {
  background-color: var(--color02);
  border-radius: 10px;
}

#judy-title {
  padding: 25px 25px 0px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5px;
  writing-mode: vertical-rl;
  text-align: center;
  text-orientation: upright;
  z-index: 1;
}

#judy-title h1 {
  font-size: 28px;
  background-color: white;
  color: var(--color02);
  font-family: "cyberpunk font";
  padding: 2px;
  width: fit-content;
}

#kanjis {
  font-size: 17px;
  background-color: white;
  color: var(--color02);
  height: fit-content;
  padding: 2px;
}

#extra-content {
  display: none;
  font-family: monospace;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  flex-direction: column-reverse;
  gap: 20px;
  z-index: 1;
  line-height: 1.4em;
}

#extra-content p {
  border-top: solid 2px var(--color04);
  padding-top: 0.5em;
}

#extra-content iframe {
  width: 100%;
  height: auto;
}

#judy-textbox::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url(images/Cyberpunk_2077_razor_vertical_edge.svg);
  background-position: center;
  background-repeat: repeat-x;
  height: 100vh;
  width: 20px;
}

#judy-girl {
  margin: auto;
  grid-area: "Judy";
  height: 100%;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.514));
  z-index: 1;
}

#content-judy::before {
  content: "";
  position: absolute;
  background-image: url(images/triangleAsymmetrical2.svg);
  width: 100%;
  height: 10%;
  top: 0px;
  right: 0px;
  z-index: 1;
}

#content-judy::after {
  content: "";
  position: absolute;
  background-image: url(images/triangle.svg);
  width: 100%;
  height: 20%;
  bottom: -1px;
  right: 0px;
  rotate: 180deg;
}

#container-3 {
  height: 100vh;
  background-image: url(images/background-6.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-3::before {
  content: "";
  background-image: url(images/triangleAsymmetrical2.svg);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#container-3::after {
  border-bottom: 2px solid rgba(39, 39, 39, 0.973);
  content: "";
  background-image: url(images/triangleAsymmetricalNegative.svg);
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0px;
  left: 0px;
}

#join-us-button {
  text-transform: uppercase;
  font-family: "cyberpunk font";
  font-size: 1.5em;
  color: white;
  padding: 20px;
  backdrop-filter: blur(2px);
  transition: 0.5s all ease;
  position: relative;
  border: 1px solid rgb(194, 194, 194);
}

#join-us-button:hover {
  background-color: #fdf5084f;
  color: var(--color04);
  border: 0px solid transparent;
  backdrop-filter: blur(0px);
  cursor: pointer;
}

#join-us-button:hover::before,
#join-us-button:hover::after {
  height: 100%;
  background-color: #fdf608;
}

#join-us-button:hover h1::before,
#join-us-button:hover h1::after {
  width: 100%;
  transition-delay: 0.1s;
  background-color: #fdf608;
}

#join-us-button::before,
#join-us-button::after,
#join-us-button h1::before,
#join-us-button h1::after {
  transition: 0.4s;
  position: absolute;
  content: "";
  display: block;
}

#join-us-button::before {
  width: 2px;
  height: 10%;
  background-color: transparent;
  right: 0px;
  top: 0px;
}

#join-us-button::after {
  width: 2px;
  height: 10%;
  background-color: transparent;
  bottom: 0px;
  left: 0px;
}

#join-us-button h1::before {
  width: 5%;
  height: 2px;
  background-color: transparent;
  left: 0px;
  top: 0px;
}

#join-us-button h1::after {
  width: 5%;
  height: 2px;
  background-color: transparent;
  right: 0px;
  bottom: 0px;
}

#container-4 {
  height: 100vh;
  background-image: url(images/demon.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

/* CSS do formulário */

#formulario {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "text text"
    "infos form"
    "infos form";
  background-color: var(--color07);
  border: 1px solid var(--color06);
  width: 95%;
  height: 70%;
}

#form-text {
  grid-area: text;
  color: var(--color05);
  font-family: monospace;
  display: flex;
  justify-content: center;
  background-image: url(images/netui.gif);
  background-size: cover;
  border-bottom: 1px solid var(--color06);
}

#join-form {
  grid-area: form;
  background-color: var(--color07);
  padding: 15px;
  color: var(--color03);
  font-family: monospace;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}

#form-design {
  grid-area: infos;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-infos {
  font-size: 1em;
  border-right: 1px solid var(--color06);
  color: var(--color03);
  text-transform: uppercase;
  font-family: "cyberpunk font";
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.square-infos:not(:first-child) {
  border-top: 1px solid var(--color06);
}

#join-form h1 {
  text-transform: uppercase;
  font-family: "cyberpunk font";
  color: var(--color06);
}

#join-form input {
  background-color: var(--color07);
  border: none;
  border-bottom: 1px solid var(--color06);
  color: var(--color03);
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 5px;
  text-indent: 10px;
}

input,
select,
label {
  font-size: 11px;
}

#genders {
  display: flex;
  justify-content: space-around;
  color: gray;
}

#genders label {
  transition: 0.5s ease-in-out all;
  border-bottom: 2px solid transparent;
  width: 100%;
  text-align: center;
  padding: 5px;
}

select {
  background-color: var(--color07);
  border: 1px solid var(--color06);
  border-radius: 5px;
  padding: 5px;
  color: var(--color03);
  text-align: center;
  letter-spacing: 5px;
  transition: 0.5s all ease-in-out;
}

select:focus {
  outline: none;
  box-shadow: 5px 5px 10px #fc464675;
}

#imale:checked ~ #male {
  color: var(--color03);
  border-bottom: 2px solid var(--color06);
}
#ifemale:checked ~ #female {
  color: var(--color03);
  border-bottom: 2px solid var(--color06);
}
#inonbinary:checked ~ #nonbinary {
  color: var(--color03);
  border-bottom: 2px solid var(--color06);
}

input[type="radio"] {
  display: none;
}

#join-form input[type="submit"] {
  border: 1px solid var(--color06);
  padding: 10px;
  color: var(--color07);
  text-transform: uppercase;
  transition: all 0.5s ease;
  letter-spacing: 10px;
  background-color: var(--color06);
}

#join-form input[type="submit"]:hover {
  background-color: var(--color03);
  border: 1px solid var(--color03);
  color: var(--color07);
}

#join-form input::placeholder {
  color: var(--color03);
}

#join-form input:focus {
  outline: none;
}

@media screen and (min-width: 560px) {
  #judy-title {
    flex-direction: column;
    writing-mode: horizontal-tb;
  }

  #judy-title h1 {
    font-size: 18px;
  }

  #kanjis {
    font-size: 15px;
    width: fit-content;
  }

  #extra-content {
    display: flex;
  }
}

@media screen and (min-width: 760px) {
  #judy-title h1 {
    font-size: 22px;
  }

  #kanjis {
    font-size: 19px;
    width: fit-content;
  }

  #extra-content {
    font-size: 14px;
  }

  #formulario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "text form"
      "text infos";
    background-color: var(--color07);
    border: 1px solid var(--color06);
    width: 90%;
    height: 70%;
  }

  #form-text {
    border-bottom: none;
    border-right: 1px solid var(--color06);
  }

  #join-form {
    border-right: none;
  }

  #form-design {
    flex-direction: row;
    border-top: none;
  }

  .square-infos:first-child {
    border-top: 1px solid var(--color06);
  }

  .square-infos:not(:last-child) {
    border-right: 1px solid var(--color06);
  }

  .square-infos {
    font-size: 1.5em;
    border-right: none;
  }

  input,
  select,
  label {
    font-size: 1em;
  }
}

@media screen and (min-width: 1020px) {
  #judy-title h1 {
    font-size: 3.7em;
  }

  #kanjis {
    font-size: 1.6em;
    width: fit-content;
  }

  #extra-content {
    font-size: 1.5em;
    line-height: 2em;
  }

  #judy-textbox {
    gap: 3em;
  }
  #extra-content iframe {
    height: 15em;
  }
}

/* Animações */

.animation-rotate {
  animation-name: rotating;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-rotaterev {
  animation-name: rotating-rev;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-join {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes scroll-line-effect {
  0% {
    height: 0%;
  }

  90% {
    height: 100%;
    transform: translate(0);
  }

  95% {
    transform: translateY(150px);
  }
}

@keyframes rotating-rev {
  0% {
    rotate: 90deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes rotating {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 90deg;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}
