/* Mobile First Version */

@font-face {
  font-family: "Cyberpunk Font";
  src: url(fonts/Neon\ Zone.otf) format("opentype"),
    url(fonts/Neon\ Zone.ttf) format("truetype");
}

@font-face {
  font-family: "Cyberpunk";
  src: url(fonts/Cyberpunk.otf) format("opentype"),
    url(fonts/Cyberpunk.ttf) format("truetype");
}

@font-face {
  font-family: "Pixel Art";
  src: url(fonts/Minecraft.ttf) format("truetype");
}

:root {
  --color01: #fc4646;
  --color02: #080705;
  --color03: #77eb9c;
  --color04: #fdf608;
  --color05: #fbfff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "cyberpunk font", monospace;
  min-height: 60px;
  padding: 10px;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  background-color: var(--color02);
  z-index: 3;
}

header::after {
  content: "";
  background-image: url(images/triangle-header.svg);
  position: absolute;
  width: 100%;
  height: 20px;
  top: 65px;
  left: 0px;
}

nav {
  border-top: #ffffff 2px solid;
  position: absolute;
  visibility: hidden;
  top: 60px;
  height: 100%;
  width: 0;
}

nav > a {
  text-decoration: none;
  color: white;
}

nav > span {
  text-align: center;
  font-size: 19px;
}

.menu-mobile {
  visibility: visible;
  background-color: var(--color02);
  position: absolute;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 30px;
  gap: 30px;
  font-size: 25px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu-mobile > a {
  color: var(--color05);
  text-decoration: none;
}

.menu-mobile > a::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.menu-mobile > a:hover::after {
  width: 100%;
}

.typed1 {
  animation: slideLeft 1s ease forwards;
}

#menu-burguer {
  cursor: pointer;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#menu-burguer svg {
  width: 35px;
  height: 100%;
  fill: var(--color05);
}

#container-1 {
  height: 100vh;
  min-height: 400px;
  background-image: url(images/background-2.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  position: relative;
}

.welcome-text {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  backdrop-filter: blur(2px);
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: slideUp 2.5s ease forwards;
  position: relative;
}

.textbox {
  font-size: 1.4em;
  align-self: center;
  font-family: "cyberpunk font", monospace;
  color: white;
  text-shadow: 1px 2px 3px black;
  padding: 10px;
  width: 235px;
  animation: floating 10s linear 2.5s infinite;
}

#triangle {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-size: cover;
  height: 190px;
  rotate: 180deg;
  z-index: 0;
}

.typed2 {
  color: var(--color01);
  color: #fff9f9;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #a83c3c, 0 0 42px #fc4646,
    0 0 82px #fc4646, 0 0 92px #fc4646, 0 0 102px #fc4646, 0 0 151px #fc4646;
}

#woman-gun {
  width: 100%;
  max-width: 90vh;
  z-index: 1;
  filter: drop-shadow(0 0 92px #000000);
}

.scroll-line {
  z-index: 1;
  position: absolute;
  color: white;
  font-family: "cyberpunk font";
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: .9em;
  writing-mode: vertical-rl;
  text-orientation: upright;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
  right: 10px;
  bottom: -150px;
}

.scroll-line > div {
  background-color: white;
  width: 1px;
  animation: scroll-line-effect 3s linear infinite;
}

#container-2 {
  height: 100vh;
  min-height: 580px;
  background-image: url(images/background-4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

#container-2::before {
  border-top: 2px solid rgba(39, 39, 39, 0.973);
  content: "";
  background-image: url(images/triangle.svg);
  position: absolute;
  width: 100%;
  height: 130px;
  top: 0px;
  left: 0px;
  animation: slideUp 2.5s ease forwards;
}

#container-2::after {
  border-top: 2px solid rgba(39, 39, 39, 0.973);
  content: "";
  background-image: url(images/triangleAsymmetrical.svg);
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  rotate: 180deg;
  left: 0px;
}

#kanjis-textbox {
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: 50%;
}

#kanjis1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  font-size: 1.5em;
  background-color: var(--color02);
  padding: 5px;
}

#kanjis2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: white;
  font-size: 1.1em;
  background-color: var(--color02);
  padding: 5px;
}

#judy-girl {
  height: 90%;
  width: auto;
  z-index: 1;
  filter: drop-shadow(0 0 92px #00000048);
}

#container-3 {
  height: 100vh;
  background-image: url(images/background-6.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-3::before {
  content: "";
  background-image: url(images/triangleAsymmetrical2.svg);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0px;
  left: 0px;
}

#container-3::after {
  border-bottom: 2px solid rgba(39, 39, 39, 0.973);
  content: "";
  background-image: url(images/triangleAsymmetricalNegative.svg);
  position: absolute;
  width: 100%;
  height: 90px;
  bottom: 0px;
  left: 0px;
}

#join-us-button {
  text-transform: uppercase;
  font-family: "cyberpunk font";
  font-size: 1.5em;
  color: white;
  padding: 20px;
  backdrop-filter: blur(2px);
  transition: 0.5s all ease;
  position: relative;
  border: 1px solid rgb(194, 194, 194);
}

#join-us-button:hover {
  background-color: #fdf5084f;
  color: var(--color04);
  border: 0px solid transparent;
  backdrop-filter: blur(0px);
  cursor: pointer;
}

#join-us-button:hover::before,
#join-us-button:hover::after {
  height: 100%;
  background-color: #fdf608;
}

#join-us-button:hover h1::before,
#join-us-button:hover h1::after {
  width: 100%;
  transition-delay: 0.1s;
  background-color: #fdf608;
}

#join-us-button::before,
#join-us-button::after,
#join-us-button h1::before,
#join-us-button h1::after {
  transition: 0.4s;
  position: absolute;
  content: "";
  display: block;
}

#join-us-button::before {
  width: 2px;
  height: 10%;
  background-color: transparent;
  right: 0px;
  top: 0px;
}

#join-us-button::after {
  width: 2px;
  height: 10%;
  background-color: transparent;
  bottom: 0px;
  left: 0px;
}

#join-us-button h1::before {
  width: 5%;
  height: 2px;
  background-color: transparent;
  left: 0px;
  top: 0px;
}

#join-us-button h1::after {
  width: 5%;
  height: 2px;
  background-color: transparent;
  right: 0px;
  bottom: 0px;
}

#container-4 {
  height: 100vh;
  background-image: linear-gradient(55deg, var(--color02), gray);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Animações */

.animation-rotate {
  animation-name: rotating;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-rotaterev {
  animation-name: rotating-rev;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.animation-join {
  animation-name: slideRight;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes scroll-line-effect {
  0% {
    height: 0%;
  }

  90% {
    height: 100%;
    transform: translate(0);
  }

  95% {
    transform: translateY(150px);
  }
}

@keyframes rotating-rev {
  0% {
    rotate: 90deg;
  }

  100% {
    rotate: 0deg;
  }
}

@keyframes rotating {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 90deg;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
